body {
  background: linear-gradient(37deg, #f6eac3 0%, #fda085 100%);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #ff0500;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: rgb(247 15 15 / 59%) 0px 5px 15px;
  margin-bottom: 1rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header-icon {
  width: 40px;
  height: 40px;
}

.container {
  padding: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .controls {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.search-bar, .type-filter {
    padding: 12px;
    padding-left: 2rem;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 20rem;
    background: #ffe4e4;
}


.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.pokemon-card {
  background: rgb(19, 16, 16);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.types {
  margin-top: 10px;
}

.type-badge {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
}

.type-badge.fire { background-color: #fd7d24; }
.type-badge.water { background-color: #4592c4; }
.type-badge.grass { background-color: #9bcc50; }
.type-badge.electric { background-color: #eed535; color: black; }
.type-badge.ice { background-color: #51c4e7; }
.type-badge.fighting { background-color: #d56723; }
.type-badge.poison { background-color: #b97fc9; }
.type-badge.ground { background-color: #f7de3f; color: black; }
.type-badge.flying { background-color: #3dc7ef; }
.type-badge.psychic { background-color: #f366b9; }
.type-badge.bug { background-color: #729f3f; }
.type-badge.rock { background-color: #a38c21; }
.type-badge.ghost { background-color: #7b62a3; }
.type-badge.dark { background-color: #707070; }
.type-badge.dragon { background-color: #53a4cf; }
.type-badge.steel { background-color: #9eb7b8; }
.type-badge.fairy { background-color: #fdb9e9; }
.type-badge.normal { background-color: #a4acaf; }

.loader {
  text-align: center;
  padding: 50px;
  font-size: 1.5rem;
}

.error, .no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 50px;
}
